<div class="section group">

<div class="col span_1_of_2">
<div class="item">
<h2>Our Boats</h2>

<%= render @boats %>
</div>
</div>

<div class="col span_1_of_2">
<div class="item">
<h2>weather</h2>
</div>
<div class="item">
<h2>Tides</h2>
</div>
<div class="item">
<h2>Winds</h2>
</div>


</div>