---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=FAKE_WEATHER_APP_ID&zip=98101,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.33,"lat":47.61},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"cmc stations","main":{"temp":294.34,"pressure":1022,"humidity":56,"temp_min":288.71,"temp_max":297.04},"wind":{"speed":2.06,"deg":14,"gust":5.65},"clouds":{"all":0},"dt":1470272087,"sys":{"type":3,"id":9628,"message":0.0032,"country":"US","sunrise":1470315089,"sunset":1470368300},"id":5809844,"name":"Seattle","cod":200}'
  recorded_at: Thu, 04 Aug 2016 01:01:39 GMT
